#cadastro {
    background-color: rgba(19, 18, 18, 0.596);
    height: 400px;
    width: 25%;
    border: rgb(187, 186, 186) 1px solid;
    border-radius: 20px;
}

label {
    font-size: 20px;
    margin-left: 30%;
}

form input {
    width: 90%;
}

form ul li {
    display: block;
    margin-top: 10px;
}

.btns {
    margin-left: 25%;
}