<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://www.b-cube.in/wp-content/uploads/2014/05/aditya-300x177.jpg" id="icon" alt="User Icon" />
            <h1>Area de Login</h1>
        </div>

        <!-- Login Form -->
        <form method="POST" action="/auth">
            <input type="text" id="login" class="fadeIn second" name="email" placeholder="Digite seu E-mail" required>
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="Digite sua Senha" required>
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="/cadastro">Cadastre-se</a>
        </div>

    </div>
    </form>
</div>