<div class="wrapper fadeInDown">
    <section id="cadastro">
        <form action="/add" method="post">
            <ul>
                <li>
                    <span>User Name</span>
                    <input type="text" name="nome" placeholder="User Name">
                </li>
                <li>
                    <span>E-mail</span>
                    <input type="text" name="email" class="fadeIn second" placeholder="E-mail">
                </li>
                <li>
                    <input type="text" name="numero" class="fadeIn third" placeholder="Contact Number">
                </li>
                <li>
                    <span>Password</span>
                    <input type="password" class="fadeIn third" name="senha" placeholder="Password">
                </li>
                <li class="btns">
                    <button type="submit" class="btn btn-info">Enviar</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </li>
                <li><a href="/">Já tenho Conta</a></li>
            </ul>

        </form>
    </section>
</div>